<footer class="footer">
    <div class="container footer__container">
        <p class="footer__text p-normal">Наши социальные сети</p>
        <div class="footer__social social">

            <a href="" class="social__link p-normal">
                <img src="/assets/img/svg/inst.svg" alt="" class="social__icon">instagram
            </a>
            <a href="" class="social__link p-normal">
                <img src="/assets/img/svg/fb.svg" alt="" class="social__icon">facebook
            </a>
            <a href="" class="social__link p-normal">
                <img src="/assets/img/svg/vk.svg" alt="" class="social__icon">vkontakte
            </a>
        </div>
    </div>
</footer>