.reviews {
  text-align: center;

  &__title {
    margin: 0 auto;
    max-width: 82%;

    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }

  &__text {
    margin: 30px auto 0;
    max-width: 40%;
    color: $gray300;

    @media (max-width: $desktop) {
      margin-top: 36px;
      max-width: 50%;
    }

    @media (max-width: $tablet) {
      margin-top: 24px;
      max-width: 100%;
    }
  }

  &__block {
    display: flex;
    gap: 30px;
    margin-top: 100px;

    @media (max-width: $desktop) {
      gap: 18px;
    }

    @media (max-width: $tablet) {
      margin-top: 50px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__card {
    flex: 0 0 48.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 50px;
    background-color: $beige200;

    @media (max-width: $desktop) {
      flex: 0 0 49%;
    }

    @media (max-width: $tablet) {
      padding: 20px;
      border-radius: 30px;
    }

    @media (max-width: $mobile) {
      flex: 0 0 100%;
      padding: 20px;
      border-radius: 30px;
    }
  }

  .card {
    &__text {
      text-align: left;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    &__group {
      &_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;

        @media (max-width: $tablet) {
          align-items: end;
          margin-top: 40px;
        }
      }
    }

    &__block {
      text-align: left;
    }

    &__desc {
      margin-top: 8px;
      color: $gray300;
    }

    &__img {
      max-width: 75px;
      border-radius: 50%;
    }
  }
}
